.AddToDoContainer {
  width: 85%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1, label {
  color: white;
  font-weight: 500;
}

.formActivities {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 100px;
}

.btnSubmit {
  width: 80px;
  height: 30px;
  border-radius: 40px;
  border: none;
}